[Unit]
Description=Kathis Party Keller Shutdown Service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/true
ExecStop=/usr/bin/sudo /usr/bin/python3 /home/pi/productive/service_files/shutdown.py

[Install]
WantedBy=multi-user.target