[Unit]
Description=Kathis Party Keller LED Service
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/scripts/LED
Restart=always

[Install]
WantedBy=multi-user.target