[Unit]
Description=Kathis Party Keller LED Service
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/home/pi/productive
ExecStart=/usr/bin/python3 /home/pi/productive/LED
Restart=always

[Install]
WantedBy=multi-user.target